<ion-header>
  <ion-navbar>
    <ion-title>Private trade room</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="infoblock">
    <p>
      Your share sales negotiation with the {{ data.whoami === 'S' ? "buyer" : "seller" }} is private and
      direct. You are free to accept or reject
      an offer or create a counter offer. This transaction is closed once an offer has been accepted or rejected.
    </p>
  </div>

  <h3 class="section-heading exo2" *ngIf="data.whoami === 'S' ">
    Latest offer on the table
  </h3>
  <h3 class="section-heading exo2" *ngIf="data.whoami === 'B' ">Latest offer on the table</h3>


  <ion-list>

    <ion-item class="share-list-item">
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col col-11 no-padding class="share-action-btn">
            <div class="shares-user-info">
              <div class="shares-user-info-item text-center ">
                <div class="text-center small text-white" *ngIf="data.whoami === 'S' ">
                  {{ data.lastbidder === "B" ? "Buyer's current offer" : "You suggested"}}
                </div>
                <div class="text-center small text-white" *ngIf="data.whoami === 'B' ">
                  {{ data.lastbidder === "B" ? "You suggested" : "Seller's current offer"}}
                </div>
                <h1 class="text-center text-white super-large" >
                  {{ data.price | currency : 'ZAR': 'R' }}
                </h1>
                <p class="text-center small text-white">per share for {{ data.amount | number: 0 }} shares.</p>
              </div>
            </div>
          </ion-col>
          <ion-col no-padding col-1 class="share-action-btn">
              <div class="shares-user-info">
                <div class="shares-user-info-item text-center ">
                  <ion-icon class="text-white" ios="ios-more" md="md-more"
                    (click)="showActionSheet()"></ion-icon>
                </div>
              </div>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>


  <h3>Key numbers</h3>
  
  <div class="share-list-item">


    <ion-grid class="data-grid" padding>

      <ion-row>
        <ion-col col-6 class="border-right" padding>
          <div class="shares-user-info">
            <div class="shares-user-info-item text-center ">
              <div class="offer-label text-white">Original price
              </div>
              <div class="large margin-top-10 text-white">{{ data.originalprice | currency : 'ZAR': 'R' }}</div>
            </div>
          </div>
        </ion-col>
        <ion-col col-6 padding>
          <div class="shares-user-info">
            <div class="shares-user-info-item text-center ">
              <div class="offer-label text-white">Last close price</div>
              <div class="large margin-top-10 text-white">{{ data.lastprice | currency : 'ZAR': 'R' }}</div>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="market-frame-top" style="margin-top: -1px;">
        <ion-col col-6 class="border-right" padding>
          <div class="shares-user-info">
            <div class="shares-user-info-item text-center ">
              <div class="offer-label text-white">Total on sale</div>
              <div class="large margin-top-10 text-white">{{ data.totalforsale | number : '1.0-0' }}</div>
            </div>
          </div>
        </ion-col>
        <ion-col col-6 padding>
          <div class="shares-user-info">
            <div class="shares-user-info-item text-center ">
              <div class="offer-label text-white">Total shares left</div>
              <div class="large margin-top-10 text-white">{{ data.left | number : '1.0-0' }}</div>
            </div>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>


  </div>


  <h3 class="section-heading exo2">Offer history</h3>



  <div class="message-wrap" padding>
    <div *ngFor="let counter of data.history[0].Counter">

      <div [ngClass]="counter.BS === data.whoami ? 'message right' : 'message left' ">
        <div class="msg-detail">

          <div class="msg-content">
            <span class="triangle"></span>
            <p *ngIf="data.whoami === 'S' ">
              <span class="fw500 small"> {{ counter.BS === "S" ? "You counter offered" : "Buyer offered"  }}
                {{ counter.Price | currency : 'ZAR': 'R' }} for {{ data.amount | number : '1.0' }} shares.<br />Current
                deal value:
                {{ (counter.Price * data.amount) | currency : 'ZAR': 'R' }}</span>
            </p>
            <p *ngIf="data.whoami === 'B' ">
              <span class="fw500 small"> {{ counter.BS === "S" ? "Seller counter offered" : "You offered"  }}
                {{ counter.Price | currency : 'ZAR': 'R' }} for {{ data.amount | number : '1.0' }} shares.<br />Current
                deal value:
                {{ (counter.Price * data.amount) | currency : 'ZAR': 'R' }}</span>
            </p>
          </div>
        </div>
        <div class="msg-info">
          <p *ngIf="data.whoami === 'S' " class="note text-white" style="margin-top: 0px;">
            {{ counter.BS === 'B' ? 'Buyer' : 'You' }} on {{ convertDate(counter.TimeStamp) | date:'short'}}
          </p>
          <p *ngIf="data.whoami === 'B' " class="note text-white" style="margin-top: 0px;">
            {{ counter.BS === 'B' ? 'You' : 'Seller' }} on {{ convertDate(counter.TimeStamp) | date:'short'}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <ion-fab left bottom #fab>
    <button mini ion-fab color="light">
      <ion-icon class="light-button-icon" name="menu"></ion-icon>
      <ion-label class="popup-hint">
        <ion-icon left name="left"></ion-icon><span>Need help? Tap here.</span>
      </ion-label>
    </button>
    <ion-fab-list side="top">

      <button mini ion-fab color="secondary" (click)="showHelp(fab)">
        <ion-icon name="help"></ion-icon>
        <ion-label class="popup-label"><span>Help</span></ion-label>
      </button>

      <button mini ion-fab color="secondary" (click)="back(fab)">
        <ion-icon name="undo"></ion-icon>
        <ion-label class="popup-label"><span>Back</span></ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>


</ion-content>