page-otc-market-main {

    .scroll-content{
        padding: 10px 0px !important;
        
    }

    ion-slide{
        overflow-y: scroll !important;
       
      }

      ion-slide.swiper-slide {
        align-items: flex-start;
    }

    ion-label h4, ion-label h3{
        margin-bottom: 0;
    }

      

    /*
    super-tabs{
        width: 100vw !important;
    }

   

    super-tab ion-content .scroll-content{
        padding: 15px 10px !important;
        color: white;
    }

    super-tab-indicator {
        --st-indicator-scale-x:0.9;
        --st-indicator-transition-duration:150ms;
    }

    super-tab-button ion-icon{
        font-size: 2em;
        color: white;
    }

    .label-md{
        margin: 0 !important;
    }
    */
/*
    super-tab-button ion-label .label-md {
        margin: 5px 2px !important;
    }

    

    super-tab-button ion-label{
        color: white;
        padding: 5px 0;
        text-transform: none !important;
    }

    super-tab-button{
        padding: 5px 2px;
    }
*/
    .border-right{
        border-right: 1px solid rgba(255,255,255,0.5);
    }

    :host{
        padding: 5px !important;
        --super-tab-width: 25% !important;
        --super-tab-height: 60px !important;

    }

    .fab-close-icon{
        color: white;
        background-color: color($colors, secondary);
        border-radius: 50%;
    }

    ion-label.share-name{
        margin-top: 0px !important;
    }


    ion-label.share-name, ion-label.share-ask-price{
        color: color($colors, dark);
        font-size: medium;
        font-weight: bold;
    }

    .share-ask-price{
        color: color($colors, dark);
        float: right;
        font-size: medium;
    }

    .data-grid{
        margin-top: 10px;
    }

    .data-list-item{
        max-width: 90%;
        border-radius: 5px;
        padding: 10px 0px;
        margin: 5px auto 5px auto;
        
        background-color: rgba(255,255,255,1) !important;
    }


    .offer-label{
        font-size: x-small !important;
    }

    .text-black{
        color: black !important; 
    }

    .text-grey{
        color: #D3D3D3 !important;
    }

    .text-secondary{
        color: color($colors, secondary) !important;
    }

    .note{
        font-size: xx-small !important;
        color: rgba(0,0,0,0.75);
    }

    .large{
        font-size: large;
    }

    .bubble{
        padding: 10px !important;
        background-color: rgba(color($colors, secondary),0.35);
        margin-left: 4px;
        margin-right: 4px;
        border-radius: 5px;
    }

    .share-content{
        padding: 10px 0px !important;
        text-align: left;

    }

    .list-md .item-block .item-inner{
        border-bottom: 0px;
        padding-left: 8px;
    }

    .hide-item{
         display: none !important;
    }

    .offer-label.left {
		width: 100% !important;
		clear: right;
		padding-left: 0;
		text-align: left;
    }

    .offer-label.right{
		width: 100% !important;
		clear: left;
		padding-right: 0;
		text-align: right;
    }
    
    .border-right{
       
        border-right: 1px solid rgba(255,255,255,0.075) !important;
    }

    ion-row.border-bottom {
        border-bottom: 1px solid rgba(255, 255, 255, 0.075);
    }
  

    .docs-button{
      padding: 20px 15px;
      background-color: #519DBE;
      color: #2D3951;
      border-radius: 10px;
    }

    .market-list-item-button{
        border-top: 0.05rem  solid #eaeaea !important;
        border-bottom: 0.05rem  solid #eaeaea !important;
        background-color: white;
        color: #000000;
    }

    .market-list-item-button ion-badge{
        border: none;
        background-color: color($colors, secondary);
        color: black;
    }

    .item-count-badge{
        border: none;
        background-color: #fff;
        color: black !important;
    }

    .share-title{
        font-weight: normal;
        color: #fff;
        margin-left: 7px;
    }

    .share-action-btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-danger{
        background-color: rgba(color($colors, danger), 0.45);
    }

    .btn-secondary{
        background-color: rgba(color($colors, secondary), 0.7);
    }

    .btn-tertiary{
        background-color: rgba(color($colors, tertiary), 0.65);
        color: white;
    }

    .shares-user-info{
        display: flex;
        flex-direction: column;
    }

    .shares-user-info-item{
        flex: 1;
    }

    ion-item .label-md{
        margin: 0px !important;
        padding: 0px 10px;
    }

    .label-md{
        margin: 0 !important;
    }

    .share-date{
        display: block;
        width: 100%;
        font-size: xx-small;
        color: rgba(0,0,0,0.65);
        clear: both;
        float: left;

    }

    .share-item-numshares{
        text-align: left;
        display: block;
        width: 100%;   
    }

    .share-item-price{
        text-align: center;
        clear:both;
    }

    .list-md .item-block .item-inner{
        padding: 0px !important;
    }

    ion-label{
        padding: 0px;
    }


    ion-icon .pads{
        margin: 5px !important;
    }

    .legend-line{
        margin-top: 10px;
        padding: 0px 5px;
        color: white;
    }

    .grey{
        color: rgba(0,0,0,0.2) !important;
    }

    .align-icons-top{
       padding-bottom: 80%;
    }

    .danger{
        color: color($colors, danger);
    }

    .success{
        color: color($colors, success);
    }

    .yellow{
        color: yellowgreen;
    }

    
}
