<!-- BUY BUTTON -->
<div class="buyblock">
	<form>
		<div class="content">
			<div *ngIf="buyStep === 0" id="buy-step-0">
				<div scrolly="true">
					<!-- BUY STEP 0 When Asset is in Secondary Market -->
					<h3 class="text-white buy-heading">Buy {{ assetName }} shares</h3>

					<ion-grid>
						<ion-row no-padding>
							<ion-col size="12" no-padding>
								<p class="text-white">Want to buy some {{ assetName }} shares? The first step is to set
									an
									offer price. Sellers of {{ assetName }} will be able to accept your offer price or
									create a counter offer.
								</p>
							</ion-col>
						</ion-row>

						<div class="mandate-block not-first">
							<ion-row no-padding>
								<ion-col>
									<span class="text-white">Share statistics</span>
								</ion-col>
							</ion-row>
							<ion-row no-padding>
								<ion-col>
									<span class="text-white">Shares for sale</span>
								</ion-col>
								<ion-col>
									<span class="text-white align-right">{{ 2000 | number: 0 }}</span>
								</ion-col>
							</ion-row>
							<ion-row no-padding>
								<ion-col>
									<span class="text-white">Offer range</span>
								</ion-col>
								<ion-col>
									<span
										class="text-white align-right">{{ 18.5 |  currency:'ZAR':  wallet_balances.currency_symbol }}
										- {{ 25.55 |  currency:'ZAR':  wallet_balances.currency_symbol }}</span>
								</ion-col>
							</ion-row>
							<ion-row no-padding>
								<ion-col>
									<span class="text-white">Share value</span>
								</ion-col>
								<ion-col>
									<span
										class="text-white align-right">{{ share_value |  currency:'ZAR':  wallet_balances.currency_symbol }}</span><br />
									<span class="text-white align-right small">Trade date:
										{{ 2019-12-21 | date:'short':'GMT+2':'en-ZA' }}</span>
								</ion-col>
							</ion-row>
						</div>



						<ion-row *ngIf="sharesToggle" class="second-row ion-align-items-center">
							<ion-col col-10>
								<ion-input #shares name="shares" id="shares" class="amount-input-field shares-input"
									type="number" [(ngModel)]="sharesAmount" (keyup)="calcAmount()">
								</ion-input>
							</ion-col>
							<ion-col col-2>
								<p class="shares-input-label">shares</p>
							</ion-col>
						</ion-row>
						<ion-row no-padding *ngIf="sharesToggle" class="second-row ion-align-items-center">
							<ion-col col-12 no-padding>
								<div class="small darkblue left">Rand value: {{ fiatAmount | currency:'ZAR':  'R' }}
								</div>
								<div class="small darkblue right">Available:
									{{ wallet_balances.available_balance | currency:'ZAR':  wallet_balances.currency_symbol }}
								</div>
							</ion-col>
						</ion-row>

						<ion-row *ngIf="!sharesToggle" class="second-row ion-align-items-center">
							<ion-col col-1>
								<p class="fiat-input-label">{{ wallet_balances.currency_symbol }}</p>
							</ion-col>
							<ion-col col-11>
								<ion-input #fiat id="fiat" name="fiat" class="amount-input-field fiat-input"
									type="number" [(ngModel)]="fiatAmount" (keyup)="calcAmount()">
								</ion-input>
							</ion-col>
						</ion-row>
						<ion-row no-padding *ngIf="!sharesToggle" class="second-row ion-align-items-center">
							<ion-col col-12 no-padding>
								<div class="small darkblue left">Number of shares: {{sharesAmount}}</div>
								<div class="small darkblue right">Available:
									{{ wallet_balances.available_balance | currency:'ZAR':  'R' }}</div>
							</ion-col>
						</ion-row>

						<ion-row>
							<ion-col>
								<button class="docs-button" ion-button full small *ngIf="!sharesToggle"
									(click)="toggleShareToggle()">
									<ion-icon name="shuffle"></ion-icon>&nbsp;&nbsp;Specify number of shares
								</button>
								<button class="docs-button" ion-button full small *ngIf="sharesToggle"
									(click)="toggleShareToggle()">
									<ion-icon name="shuffle"></ion-icon>&nbsp;&nbsp;Specify Rand Amount
								</button>

								<button class="docs-button" ion-button full small (click)="setFiatWalletBalance()">
									<ion-icon name="arrow-up"></ion-icon>&nbsp;&nbsp;
									Max
									{{ wallet_balances.currency_symbol + " " + ( wallet_balances.available_balance | number: '1.2-2' ) }}
								</button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</div>
			<div *ngIf="buyStep === 1" id="buy-step-1">
				<div scrolly="true">
					<!--BUY STEP 1-->
					<h3 class="text-white buy-heading">Invest Wizard1</h3>
					<hr />
					<ion-grid>
						<ion-row no-padding>
							<ion-col size="12" no-padding>
								<div *ngIf="sharesToggle">
									<p class="text-white">How many shares would you like to buy?
									</p>
								</div>
								<div *ngIf="!sharesToggle">
									<p class="text-white">How much money would you like to invest?
									</p>
								</div>
							</ion-col>
						</ion-row>

						<ion-row *ngIf="sharesToggle" class="second-row ion-align-items-center">
							<ion-col col-10>
								<ion-input #shares name="shares" id="shares" class="amount-input-field shares-input"
									type="number" [(ngModel)]="sharesAmount" (keyup)="calcAmount()">
								</ion-input>
							</ion-col>
							<ion-col col-2>
								<p class="shares-input-label">shares</p>
							</ion-col>
						</ion-row>
						<ion-row no-padding *ngIf="sharesToggle" class="second-row ion-align-items-center">
							<ion-col col-6 no-padding>
								<span class="small text-white left">Rand value: {{ fiatAmount | currency:'ZAR':  'R' }}
								</span>
							</ion-col>
							<ion-col col-6 no-padding>
								<div class="small text-white right">Available:
									{{ wallet_balances.available_balance | currency:'ZAR':  wallet_balances.currency_symbol }}
								</div>
							</ion-col>
						</ion-row>

						<ion-row *ngIf="!sharesToggle" class="second-row ion-align-items-center">
							<ion-col col-1>
								<p class="fiat-input-label">{{ wallet_balances.currency_symbol }}</p>
							</ion-col>
							<ion-col col-11>
								<ion-input #fiat id="fiat" name="fiat" class="amount-input-field fiat-input"
									type="number" [(ngModel)]="fiatAmount" (keyup)="calcAmount()">
								</ion-input>
							</ion-col>
						</ion-row>
						<ion-row no-padding *ngIf="!sharesToggle" class="second-row ion-align-items-center">
							<ion-col col-12 no-padding>
								<div class="small darkblue left">Number of shares: {{sharesAmount}}</div>
								<div class="small darkblue right">Available:
									{{ wallet_balances.available_balance | currency:'ZAR':  'R' }}</div>
							</ion-col>
						</ion-row>

						<ion-row>
							<ion-col>
								<button class="toggle-btn" ion-button full clear small *ngIf="!sharesToggle"
									(click)="toggleShareToggle()">
									<ion-icon name="shuffle"></ion-icon>&nbsp;&nbsp;Specify number of shares
								</button>
								<button class="toggle-btn" ion-button full clear small *ngIf="sharesToggle"
									(click)="toggleShareToggle()">
									<ion-icon name="shuffle"></ion-icon>&nbsp;&nbsp;Specify Rand Amount
								</button>

								<button class="toggle-btn" ion-button full clear small (click)="setFiatWalletBalance()">
									<ion-icon name="arrow-up"></ion-icon>&nbsp;&nbsp;
									Max
									{{ wallet_balances.currency_symbol + " " + ( wallet_balances.available_balance | number: '1.2-2' ) }}
								</button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</div>
			<!--END BUY STEP 1-->
			<div *ngIf="buyStep === 2" id="buy-step-2">
				<!--BUY STEP 2-->
				<div scrolly="true" class="scrollable-content">
					<h3 class="text-white buy-heading">Invest Wizard<span class="buy-heading-step-count small">Step 2 of
							3</span></h3>
					<hr />
					<ion-grid>
						<ion-row no-padding>
							<ion-col size="12" no-padding>
								<p><b>Do you want to invest and get a tax benefit or would you rather
										have
										access to your capital?</b></p>
								<p><b>Tax benefit shares:</b> Your investment is fixed for a period
									of 5
									years - you cannot trade your shares.<br />
									<b>Access to capital shares:</b> There is no tax benefit but you can access your
									capital by offering the shares for sale to others.
								</p>
							</ion-col>
						</ion-row>
					</ion-grid>


					<ion-list>
						<ion-item (click)="acceptTerms(4)" class="tc-btn">
							<div class="tc-button-content one-line">Tax benefit shares</div>
							<ion-icon
								[ngStyle]="transactionObj.vehicle === 's12j' ? {'color': '#0C8E28' } : {'color': '#D8D8D8' } "
								class="tc-btn-icon" name="checkmark-circle-outline"></ion-icon>
						</ion-item>

						<ion-item (click)="acceptTerms(5)" class="tc-btn">
							<div class="tc-button-content one-line">Access to capital shares</div>
							<ion-icon
								[ngStyle]="transactionObj.vehicle != 's12j' ? {'color': '#0C8E28' } : {'color': '#D8D8D8' } "
								class="tc-btn-icon" name="checkmark-circle-outline"></ion-icon>
						</ion-item>

					</ion-list>

				</div>
			</div>
			<!--END BUY STEP 2-->

			<div *ngIf="buyStep === 3" id="buy-step-3">
				<!--BUY STEP 3-->
				<div scrolly="true" class="scrollable-content">
					<h3 class="text-white buy-heading">Invest Wizard<span class="buy-heading-step-count small">Final
							step</span></h3>
					<hr />
					<p class="text-white">Please confirm the details of the transaction and check the investment mandate
						boxes below.</p>
					<p class="text-white"><b>Mandate summary:</b></p>
					<ion-grid>
						<div class="mandate-block">
							<ion-row no-padding>
								<ion-col size="6">
									<span class="text-white">Capital amount:</span>
								</ion-col>
								<ion-col size="6">
									<span class="text-white align-right">{{ fiatAmount | currency:'ZAR':  'R' }}</span>
								</ion-col>
							</ion-row>
						</div>
						<div class="mandate-block not-first">
							<ion-row no-padding>
								<ion-col>
									<span class="text-white">Total shares:</span>
								</ion-col>
								<ion-col>
									<span class="text-white align-right">{{sharesAmount}}</span>
								</ion-col>
							</ion-row>
						</div>
						<div class="mandate-block not-first">
							<ion-row no-padding>
								<ion-col>
									<span class="text-white">Holding company</span>
								</ion-col>
								<ion-col>
									<span
										class="text-white align-right">{{ transactionObj.vehicle === "s12j" ? "S12J (Pty) Ltd" : "SPV (Pty) Ltd" }}</span>
								</ion-col>
							</ion-row>
						</div>
						<div class="mandate-block not-first">
							<ion-row no-padding>
								<ion-col>
									<span class="text-white">Fees (Included)</span>
								</ion-col>
								<ion-col>
									<span class="text-white align-right">{{ vitals.SalesCommission }}
									</span>
								</ion-col>
							</ion-row>
						</div>
					</ion-grid>

					<div *ngIf="!allTermsChecked()">

						<p class="text-white">Please check each of these boxes to confirm that you understand the
							details of your shares purchase.</p>


						<div class="tc-btn-div">
							<button ion-button full end text-wrap clear (click)="acceptTerms(1)" class="tc-btn">
								<div class="tc-button-content text-white">I have read and understood the AZUZA terms and
									conditions.</div>
								<ion-icon
									[ngStyle]="termsAccepted.terms1 ? {'color': '#0C8E28' } : {'color': '#D8D8D8' } "
									class="tc-btn-icon" name="checkmark-circle-outline"></ion-icon>
							</button>
						</div>

						<div class="tc-btn-div">
							<button ion-button full end text-wrap clear (click)="acceptTerms(2)" class="tc-btn">
								<div class="tc-button-content text-white">I'm investing in a startup and my money
									is at risk.</div>
								<ion-icon
									[ngStyle]="termsAccepted.terms2 ? {'color': '#0C8E28' } : {'color': '#D8D8D8' } "
									class="tc-btn-icon" name="checkmark-circle-outline"></ion-icon>
							</button>
						</div>

						<div class="tc-btn-div">
							<button ion-button full end text-wrap clear (click)="acceptTerms(3)" class="tc-btn">
								<div class="tc-button-content text-white">
									Once money has been placed it can only be paid back when the share offer is
									cancelled.
								</div>
								<ion-icon
									[ngStyle]="termsAccepted.terms3 ? {'color': '#0C8E28' } : {'color': '#D8D8D8' } "
									class="tc-btn-icon" name="checkmark-circle-outline"></ion-icon>
							</button>
						</div>

						<div class="tc-btn-div">
							<button ion-button full end text-wrap clear (click)="acceptTerms(6)" class="tc-btn">
								<div class="tc-button-content text-white">I declare that I am over the age of 18 and I
									hereby bind
									myself to this agreement.</div>
								<ion-icon
									[ngStyle]="termsAccepted.terms4 ? {'color': '#0C8E28' } : {'color': '#D8D8D8' } "
									class="tc-btn-icon" name="checkmark-circle-outline"></ion-icon>
							</button>
						</div>
					</div>

					<div *ngIf="allTermsChecked()" class="">
						<p class="tc-btn center-text text-white">We're good to go! Tap the green button to complete your
							share
							purchase.</p>
					</div>


				</div>
			</div>
			<!--END BUY STEP 3-->
		</div>
	</form>
</div>